#wrapper {
position:relative;
top:35px;
margin:0px auto;
width: 822.5px;
border:0px;
padding:0px;
}
#wrapper2{
position:absolute;
top:131px;
margin:0px auto;
width: 822.5px;
border:0px;
padding:0px;
background:url(img/corpo.gif) repeat-y;
}
#header #logo, #branding, #main, .sidebar {
  float: left;
}
#search, #header-additional {
  float: right;
}
#menu, #content, #footer {
  clear: both;
}

#main {
  width: 551px;
  padding: 2em 5% 1.5em 2.2%;
}
.sidebar-left #main, .sidebar-right #main {
  width: 66%;
}
.sidebars #main {
  width: 45%;
}
.sidebar {
  width: 180px;
}
#sidebar-left {
  margin-right: -1px;
   margin-left: 5px;
}
#sidebar-right {
  margin-left: -1px;
}
#footer {
  width: 100%;
}
