body {
margin:0px;
padding:0px;
  color: black;  
  background-color:#a41225;
  background-image: url(img/sfondo.jpg);
  background-repeat:repeat-x;
  
}
#img1 {
position:absolute;
background:url(img/imgsfondo1.gif) no-repeat;
width:183px;
height:290px;
top:0px;
left:0;
padding:0px;
}

#img3 {
position:absolute;
background:url(img/imgsfondo3.gif) no-repeat;
bottom:0px;
right:-204px;
width:204px;
height:160px;
}
#logo1 {
position:Absolute;
top:25px;
left:35px;
float:left;
}

#branding h1{
position:absolute;
left:150px;
top:20px;
}

.slogan {
position:absolute;
left:150px;
top:50px;
}
a, a:link, a:active, a:visited,
h1, h2, h3, h4, h5, h6 {
  color: #81280a;
}
a img, a:link img, a:active img, a:visited img, a:hover img {
  border: none;
}
h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active,
h2 a, h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
h4 a, h4 a:link, h4 a:visited, h4 a:hover, h4 a:active,
h5 a, h5 a:link, h5 a:visited, h5 a:hover, h5 a:active,
h6 a, h6 a:link, h6 a:visited, h6 a:hover, h6 a:active {
  color: #81280a;
  border: none
}
#main .node .content a:visited {
  color: #999;
}
blockquote {
  border-left: 1em solid #eee;
}

#wrapper {
  border: 0;
}
.sidebar {
color:black;
}
.block  {
border-bottom:2px dashed #dad8d9;  
}
/*
*  Header
*/
#header {
  height:91px;
  width:100%;
  background: url(img/intestazione.gif) no-repeat;
  background-position:right;
  margin:0px 0px;
  border: 0px;
}
#header h1 a {
  color: #fff;
}
#header .slogan {
  color: #fff;
} 
#header-additional, 
#header-additional h2, 
#header-additional h3, 
#header-additional h4, 
#header-additional h5, 
#header-additional h6, 
#header-additional a, 
#header-additional a:visited {
  color: #fff;
}
#search input {
  color: #87290b;
  background: #f8f7f7;
  border: 1px solid #87290b;
}
#search input:focus {
  background: #f8f7f7;
}
#search input.form-submit {
  color: #87290b;  
  background: #f3f2f2;;
  border-width: 1px;
  border-style: solid;
  border-top-color: #87290b;
  border-left-color: #87290b;
  border-right-color: #87290b;
  border-bottom-color: #87290b;
}
#search input.form-submit:focus {
  border-top-color: #87290b;
  border-left-color: #87290b;
  border-right-color: #87290b;
  border-bottom-color: #87290b;
}

/*
*  Menus
*/
#menu{
margin:91px 0 0;
width:823px;
height:40px;
padding:0;
}
#menu1{
  position:Absolute;
  margin:0px 0px;
  border:0px;
  width:46px;
  height:40px;
  left:0px;
  background: url(img/menu_1.gif) no-repeat;
  float:left;
}

#menu2 {
  position:Absolute;
  border:0px;
  width:754px;
  height:40px;
  left:46px;
  background: url(img/menu_2.gif) repeat-x;
  float:left;
}
#menu3 {
  position:Absolute;
  border:0px;
  width:23px;
  height:40px;
  right:0px;
  margin:0px 0px 23px 46px;
  background: url(img/menu_3.gif) no-repeat;
  float:left;
}
.primary_menu {
position:absolute;
bottom:0px;
  border:0px;
  width:800px;
  height: 23px;
}
.secondary_menu {
top:0px;
right:1em;
margin:0px;
  border:0px;
  height:22px;
}


.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited {
  border: 0;
}
.primary_menu a:active,
.primary_menu  a:hover,
.primary_menu a:focus {
	background:url(img/marcatore_menu1.gif) no-repeat 50% 20%;

}
.primary_menu  a.active:hover,
.primary_menu  a.active:focus, 
.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited, 
.primary_menu  a:hover,
.primary_menu  a:focus {
  color: white;
}
#menu .secondary_menu {
  background: #ccc;
}
.secondary_menu a,
.secondary_menu a:link,
.secondary_menu a:active,
.secondary_menu a:visited {
  color: #86270b;
  border-bottom: none;
}
.secondary_menu  a:hover,
.secondary_menu  a:focus {
  color: #86270b;
}
.secondary_menu  a.active:hover,
.secondary_menu  a.active:focus {
  color: #86270b;
}
.secondary_menu a:active,
.secondary_menu  a:hover,
.secondary_menu a:focus {
	background:url(img/marcatore_menu2.gif) no-repeat 50% 2%;

}
/*
*  Sidebar
*/
.linea {
margin:0;
padding:0;
height:6px;
width:100%;
margin-top:-13px;
background-color:#7d260a;
}
.sidebar-left #main {
  border-left: 0;
}
.sidebar-right #main {
  border-right: 0;
}
.sidebars #main {
  border-left: 0;
  border-right: 0;
}

#sidebar-right {
  border-left: 0;
}
#sidebar-left {
  border-right: 0;
}
/* Blocks */
.sidebar a,
.sidebar a:link,
.sidebar a:active,
.sidebar a:visited {
  color: #81280a;
  border-bottom: none;
}
.sidebar a:hover,
.sidebar a:focus {
  border-bottom: 0;
}

/*
*  Footer
*/
#footer {
  border: 0;
  height:20px;
  bottom:0px;
  width:100%;
 /* margin:30px 0px 0px;*/
}
#cont_footer {
position:absolute;
height:35px;
width:800px;
text-align:center;
line-height:1.3em;
bottom:0;
margin:0px;
padding:0px;
}
#footer1 {
position:absolute;
bottom:0px;
width:15px;
height:41px;
left:0px;
margin-bottom:0px;
background:url(img/piede_1.gif) no-repeat;
float:left;
}
#footer2 {
position:absolute;
bottom:0px;
border:0;
width:771px;
 padding:0;
height:41px;
left:15px;
background:url(img/piede_2.gif) repeat-x;
 float:left;

}
#footer3 {
position:absolute;
bottom:0px;
width:37px;
height:41px;
right:0px;
margin-bottom:0px;
background:url(img/piede_3.gif) no-repeat;
float:left;
}

.credits {
margin-bottom:0px;
}
p.credits {
color:gray;
}
.credits a {
color:#ddd;
}

/*
*  Content
*/
.node .links, .node .taxonomy {
  color: #999;
}

.node.teaser .calendar {
  background: #e8e7e7 url(bg2.png) bottom repeat-x; }
/*=======*/
.node.teaser .calendar {
  background: #fef8f8 url(bg2.png) bottom repeat-x; 

}
.messages, .node .meta, .comment, .node.teaser .calendar {
  color: #999;  
  border: 1px solid;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  border-bottom-color: #ddd;
  border-right-color: #eee;
}
.messages, .node .meta, .comment {
  background: #e7e7e7;
}
.messages {
  color: #666;
}
.node.teaser .meta {
  background: transparent;
  border: none;
}
.node.teaser .calendar .time {
  color: #999;
}
.node.teaser .author {
  color: #999;
}
.book-navigation .menu {
  border: none;
}
.book-navigation .page-links {
  border: 1px solid #ccc;
}
.comment {
  color: #000;
}
.comment .id, .comment .id a, .comment .id a:link, .comment .id a:active, .comment .id a:visited {
  color: #ddd;
}
.comment .submitted, .comment .links {
  color: #999;
}
.new {
  color: red;
}

/*
 * Images
 */
.node .content img {
  background: #eee;
  border:0;
}
a.image:hover img {
  background: #ccc;
}


#linea {
position:absolute;
top:0;
left:10px;
width:100%;
height:6px;
background-color:#7d260a;
}
.sidebar u.menu.li {
list-style-type:none;
}
ul.content  li{
list-style-type: square;
color:#88280b;
}

#branding a, #branding h1, .slogan{
color:#802709;
}
