body {
  font: 13px/1.3 "Arial", sans-serif;
  /*margin: 40px 0 28px 0;*/
  margin:0px;
  padding:0px;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
#main .node .content a, #main .node .content a:link, #main .node .content a:active,
#main .help a, #main .help a:link, #main .help a:active {
  font-weight: bold;
}
#main .node .content a:hover, #main .node .content a:focus {
  text-decoration: underline;
}
#main .node .content a:visited {
}
#main .node .content a:visited:hover {
  text-decoration: underline;
}
html > body #main .node .content a:visited:after {
  content: "\00A0\221A";
  font-size: 0.8em;
  font-family: Times, serif;
}

h1 a,  h1 a:link, h1 a:visited, h1 a:hover, h1 a:active,
h2 a,  h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a,  h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
  text-decoration: none;
}
h2.title {
  font-size: 136%;
  margin: 1em 0 0 0;
  color:#81270a;
}
h3.title {
  font-size: 114%;
  margin: 1em 0 0 0;
}
pre {
  font-size: 0.9em;
  font-family: monospace;
  overflow: scroll;
}
abbr, acronym {
  border-bottom: 0.1em dashed;
  cursor: help;
}
blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 0 2em;
  font-style: italic;  
}
table {
  margin: 1em 0;
  width: 100%;
}
td {
  padding: 0.3em;
}

/*
*  Wrapper
*/
#wrapper {
  padding: 0 0 0 0;
}
#content {
  margin: 0px 0 0 0;
  padding: 0 0 0 0;

}
#main {  
background:#dbdad8;
  margin: 0 0 0 0;
}

/*
*  Header
*/
#header {
  padding: 0;
  margin: 0;
}
#header #logo {
  margin-right: 20px;
}
#branding {
  margin: 1.5em 1em 2em 1em; /* for IE */
  padding: 0;
} #header > #branding { margin-left: 2em; }
#header h1 {
  font-size: 156%;
  padding: 0 0 0 0;
  margin: 0.3em 0 0 0;
  font-weight: bold;
}
#header h1 a {
  padding: 0;
  margin: 0;
  color:#802709;
}
#header h1 a:hover {
  text-decoration: none;
}
#header .slogan {
  margin: 0 0 0 0;
  padding: 0;
  color:#802709;
}
#header-additional {
  margin: 0em 1em 1em 1em; /* for IE */
} #wrapper > #header #header-additional { margin-right: 2em; }
#search {
  margin: 3.5em 1em 1em 1em; /* for IE */
} #wrapper > #header #search { margin-right: 2em; }
#search input { 
  font-size: 1em;
  padding: 0.2em 0.4em;
}
#search input.form-submit {
  padding: 0.125em;

}

/*
*  Menus
*/
#menu {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  text-align: left;
  font-size: 100%;
  line-height: 210%;
}
.primary_menu {
  margin: 0;
  padding: 0;
  width: 100%;
}
.primary_menu li {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 210%;
}
.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited {
  text-decoration: none;
  padding: 0.5em 0.4em 0.3em 0.4em;
  font-size: 100%;
}
.primary_menu a.active,
.primary_menu a.active:link,
.primary_menu a.active:active,
.primary_menu a.active:visited {
  background:url(img/marcatore_menu1.gif) no-repeat 50% 20%;
}
#menu .secondary_menu {
  margin: 0;
  padding: 0 0.5em;
  width: auto;
  list-style-type: none;
  font-size: 0.85em;
}
.secondary_menu li {
  margin: 0 0 0 0;
  padding: 0;
  line-height: 210%;
}
.secondary_menu a,
.secondary_menu a:link,
.secondary_menu a:active,
.secondary_menu a:visited {
  text-decoration: none;
  padding: 0.5em 0 0.4em 0;
  font-size: 100%; 
}
.secondary_menu a.active,
.secondary_menu a.active:link,
.secondary_menu a.active:active,
.secondary_menu a.active:visited {
  background:url(img/marcatore_menu2.gif) no-repeat 50% 2%;
}

/*
*  Sidebar
*/
.sidebar {
  padding: 1em 0 1em 0;
  margin: 44px 0px 30px 0px;
  overflow: hidden;
  background:#e7e7e7;
  color:black;
}
/* Blocks */
.sidebar .block {
  margin: 0;
  padding: 0.5em 0;
}
.sidebar .block .title {
  text-transform: lowercase;
  margin: 0 0 0 12px;
}
.sidebar .block .content {
  padding: 0 1em;
  overflow: hidden;
    color:black;
}
.sidebar a,
.sidebar a:link,
.sidebar a:active,
.sidebar a:visited {
  text-decoration: none;
    color:black;
}
.sidebar .block ul {
  padding-left: 0em;
    color:black;
}
.sidebar .block-block ul {
  padding-left: 1.5em;
    color:black;
}
.sidebar .block-user .item-list {
  margin-top: 1em;
    color:black;
}
.sidebar .block-user .item-list li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
    color:black;
}
.sidebar .block-user .form-text {
  width: 95%;
    color:black;
}
#block-node-0 .content {
  padding: 0.5em 1em;
    color:black;
}

/*
*  Footer
*/
#footer {
  padding: 0.5em 0 0 0;
  margin: 0;
  text-align: center;
  font-size: 85%;
  line-height: 1.9em;
}
#footer p, #footer h2 {
  margin: 0;
}

/*
*  Content
*/
#breadcrumb {
  margin: -5px 0 1em 0px;
  color: #81270a;
}
.breadcrumb a{
color:black;
}
#mission {
  margin: 0 0 3em 0;
  padding: 0;
  background:#e7e7e7;
  width:100%;
  color:#747474;
  text-align:center;
}
#title  {
  margin: 1em 0;
  padding: 0 0 0 0;
  font-size: 152%;
  color: #81270a;
}
.messages {
  margin: 1em 0;
  padding: 0.5em;
}
.title {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #81270a;
}
.info {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 90%;
  font-weight: bold;
}
.node .links {
  text-align: left;
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0;
}
.node .links li {
  padding-left: 0;
}
.node .meta {
  padding: 1em;
  margin: 1em 0 1em 0;
}
.node .taxonomy a {
  font-size: 13px;
}
.node .taxonomy {
  margin: 1em 0 1em 0;
  font-size: 13px;
}
.node.teaser {
  margin: 0 0 4em 0;
}
.node.teaser .calendar {
  float: left;
  width: 3.5em;
  margin: 0.5em 0 0 -0.5em; /* IE */
  padding: 0 0 0 0;
  font-size: 0.7em;
  text-align: center; 
} #content > #main .node.teaser .calendar { margin-left: -1em; }
.node.teaser .calendar span {
  display: block;
}
.node.teaser .calendar .day {
  font-size: 1.5em;
  font-weight: bold;
}
.node.teaser .calendar .time {
  font-size: 0.9em;
}
.node.teaser .title {
  margin: 0.5em 0 0 0;
  padding: 0 0;
}
.node.teaser.cal .title {
  margin-left: 40px;
}
.node.teaser .content {
  clear: left;
  padding: 0 0 0 0;
}
.node.teaser.cal .content {
  padding-left: 40px;
}
.node.teaser.cal div.links {
  margin-left: 40px;
}
.node.teaser .taxonomy {
  margin: 0.5em 0 0.5em 0;
}
.node.teaser .author {
  margin: 0.5em 15px 0.5em 15px;
}
node.teaser .submitted {
  float: left;
  margin: 0.5em 0 0.5em 15px;
}
.node .box {
 font-size: 0.9em;
}
.book-navigation .menu {
  padding: 1em;
}
.book-navigation .page-links {
  margin: 2em 0;
  padding: 1em;
}
.comment {
  margin: 1em 0;
  padding: 1em;
}
.comment .id {
  margin: -0.3em 0 0 0;
  float: right;
  font-size: 2em;
  font-weight: bold;
}
.comment h3 {
  margin: 0 0 0 0;
}
.comment .submitted, .comment .links {
  text-align: right;
}
#comment_form .form-submit {
  display: block;
  clear: left;
  margin: 0.5em 0;
}
#attachments {
  width: 100%;
  margin: 1em 0 2em 0;
}
#pager a, #pager strong.pager-current {
  padding: 0 0.5em;
}

/*
 * Images
 */
.node .content img {
  padding: 5px;
}
a.image:after {
  display: none;
}

/*
 * Administration
 */
#block_admin_display {
  font-size: 0.7em;
}
#system_themes table img {
  width: 75%;
}

